:root {
  --color-primary-0: #7b9f35;
  --color-primary-1: #eaf6d2;
  --color-primary-2: #bbd880;
  --color-primary-3: #466507;
  --color-primary-4: #1e2c00;
  --color-secondary-1-0: #aa3939;

  --color-secondary-1-1: #ffdada;

  --color-secondary-1-2: #e78989;

  --color-secondary-1-3: #6d0808;

  --color-secondary-1-4: #2f0000;

  --color-secondary-2-0: #582a72;

  --color-secondary-2-1: #c6b3d0;

  --color-secondary-2-2: #855f9a;

  --color-secondary-2-3: #320949;

  --color-secondary-2-4: #150120;
}
