@import "../CSSRULES/variables";

.navigationWrapper {
  background-color: var(--color-primary-2);
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.navigation {
  max-width: 40rem;
  /* min-width: 40rem; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  position: relative;
}

li {
  font-size: 1.5rem;
  cursor: pointer;
}

.buble {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  top: -150%;
  left: 0;
  background-color: #fff;
  border: 5px solid var(--color-primary-1);
  transition: 0.25s all linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.steam.selected ~ .buble {
  transform: translateX(calc(100px * 1));
}

.steam:hover ~ .buble {
  transform: translateX(calc(100px * 1)) !important;
}

.gog.selected ~ .buble {
  transform: translateX(calc(100px * 2));
}

.gog:hover ~ .buble {
  transform: translateX(calc(100px * 2)) !important;
}

.uplay.selected ~ .buble {
  transform: translateX(calc(100px * 3));
}

.uplay:hover ~ .buble {
  transform: translateX(calc(100px * 3)) !important;
}

.humble.selected ~ .buble {
  transform: translateX(calc(100px * 4.5));
}

.humble:hover ~ .buble {
  transform: translateX(calc(100px * 4.5)) !important;
}

@media (max-width: 70em) {
  li {
    font-size: 1rem;
  }
  .buble {
    width: 1.5rem;
    height: 1.5rem;
  }

  .steam.selected ~ .buble {
    transform: translateX(calc(100px * 1.6));
  }

  .gog.selected ~ .buble {
    transform: translateX(calc(100px * 2.4));
  }

  .gog:hover ~ .buble {
    transform: translateX(calc(100px * 2.4)) !important;
  }

  .uplay.selected ~ .buble {
    transform: translateX(calc(100px * 3.1));
  }

  .uplay:hover ~ .buble {
    transform: translateX(calc(100px * 3.1)) !important;
  }

  .humble.selected ~ .buble {
    transform: translateX(calc(100px * 4.2));
  }

  .humble:hover ~ .buble {
    transform: translateX(calc(100px * 4.2)) !important;
  }

  @media (max-width: 46.75em) {
    .navigationWrapper {
      display: flex;
      justify-content: flex-start;
    }
    .navigastion {
      /* width: 100%; */
      /* display: inline-block; */
    }

    .steam.selected ~ .buble {
      transform: translateX(calc(100px * 0.1));
    }

    .gog.selected ~ .buble {
      transform: translateX(calc(100px * 0.9));
    }

    .gog:hover ~ .buble {
      transform: translateX(calc(100px * 0.9)) !important;
    }

    .uplay.selected ~ .buble {
      transform: translateX(calc(100px * 1.65));
    }

    .uplay:hover ~ .buble {
      transform: translateX(calc(100px * 1.65)) !important;
    }

    .humble.selected ~ .buble {
      transform: translateX(calc(100px * 2.78));
    }

    .humble:hover ~ .buble {
      transform: translateX(calc(100px * 2.78)) !important;
    }
  }
}
